<div class="container body-content user-edit">
    <div class="well">
        <h1>Admin panel</h1>
        <div class="panel panel-default">
            <table class="table table-striped table-hover user-edit">
                <thead>
                <tr>
                    <th>&#x2116;</th>
                    <th>Last User Login</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{#if this.isAdmin }}
                    {{#each users}}
                        <tr class="info">
                            <td class="num">{{@key}}</td>
                            <td class="date">{{ this.lastUserLogin }}</td>
                            <td>{{ this.fullName }}</td>
                            <td>{{ this.email }}</td>
                            <td>
                                <button type="button" onclick="location.href='/admin/user/edit/{{this.id}}';"
                                        class="btn btn-primary btn-xs"><i
                                        class="fa fa-pencil-square-o"></i> Edit
                                </button>
                                <button type="button" onclick="location.href='/admin/user/delete/{{this.id}}'"
                                        class="btn btn-danger btn-xs"><i
                                        class="fa fa-trash-o"></i> Delete
                                </button>

                            </td>
                        </tr>
                    {{/each}}
                {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    let a = $(".num");
    for (let i = 0; i < a.length; i++) {
        a[i].innerText = i + 1;
    }
</script>
<script>
    $('.date').each(function (index, value) {
        $(this).text(moment($(this).text()).format("LLLL"));
    });
</script>
