{{#if user}}
    Go to <a href="/user/details-edit/{{user.id}}">edit profile page</a>

    <div class="container textReview">
        <div class="span3 well textReview">
            <center>
                <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{user.imagePath}}" name="aboutme" width="140" height="140" class="img-circle"></a>
                <h3>{{user.fullName}}</h3>
                <em>click my face for more</em>
            </center>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel">More About {{user.fullName}}</h4>
                    </div>
                    <div class="modal-body">
                        <center>
                            <img src="{{user.imagePath}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <h3 class="media-heading textReview">{{user.fullName}} <small>USA</small></h3>
                            <span><strong>Skills: </strong></span>
                            <span class="label label-warning">HTML5/CSS</span>
                            <span class="label label-info">Adobe CS 5.5</span>
                            <span class="label label-info">Microsoft Office</span>
                            <span class="label label-success">Windows XP, Vista, 7</span>
                        </center>
                        <hr>
                        <center>
                            <p class="text-left"><strong>Bio: </strong><br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui, tempor sit amet commodo a, vulputate vel tellus.</p>
                            <br>
                        </center>
                    </div>
                    <div class="modal-footer">
                        <center>
                            <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
{{#unless user}}
    <script>
        window.location.replace("/user/register");
    </script>
{{/unless}}