<div class="container">
    <div class="row">
        {{#each articles}}
            <div class="col-sm-4 col-md-4">
                <div class="post">
                    <div class="post-img-content">
                        <img src="{{this.imagePath}}" class="img-responsive profileImage" />
                        <span class="post-title"><b>{{this.title}}</b><br />
                            <!--<b>CSS3 Blur</b>-->
                    </span>
                    </div>
                    <div class="content">
                        <div class="author">
                            By <b>{{this.author.fullName}}</b> |
                            <time class="date">{{this.date}}</time>
                        </div>
                        <div>
                            <a href="/article/details/{{this.id}}" class="btn btn-warning btn-sm">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<script>
    $('.date').each(function (index, value) {
        $(this).text(moment($(this).text()).format("LLLL"));
    });
</script>
